<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:include filename="dyros_assembly_gripper.xacro"/>
  
  <!-- box shaped table as base for the 3 Pandas -->
  <link name="base">
    <visual>
      <origin xyz="0.4 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.7 1.2 1" />
      </geometry>
      <material name="White">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.4 0 0.5" rpy="0 0 0  "/>
      <geometry>
        <box size="2.7 1.2 1" />
      </geometry>
    </collision>
  </link>
  
  <!-- left arm with gripper -->
  <!-- 007853982 -->
  <xacro:panda_arm arm_id="panda_left" connected_to="base"  xyz="0 0.3 1.006" safety_distance="0.02"/>  
  <!-- <xacro:dyros_assembly_gripper ns="panda_left" rpy="0 0 ${-pi/4}" connected_to="panda_left_link8" /> -->
  <xacro:hand ns="panda_left" rpy="0 0 ${-pi/4}" connected_to="panda_left_link8" safety_distance="0.015"/>
  
  <!-- right arm with gripper -->
  <xacro:panda_arm arm_id="panda_right" connected_to="base"  xyz="0 -0.3 1.006" safety_distance="0.02"/>
  <xacro:dyros_assembly_gripper ns="panda_right" rpy="0 0 ${-pi/4}" connected_to="panda_right_link8" />
  <!-- <xacro:hand ns="panda_right" rpy="0 0 ${-pi/4}" connected_to="panda_right_link8" /> -->

   <!-- top arm with gripper -->
  <xacro:panda_arm arm_id="panda_top" connected_to="base"  xyz="1.525 0 1.006" rpy="0 0 ${pi}" safety_distance="0.02"/>
  <xacro:hand ns="panda_top" rpy="0 0 ${-pi/4}" connected_to="panda_top_link8" safety_distance="0.015"/> 

 
</robot>
