<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:include filename="dyros_assembly_gripper.xacro"/>
  <xacro:include filename="dyros_assembly_gripper2.xacro"/>
  
  <!-- box shaped table as base for the 3 Pandas -->
  <link name="base">
    <visual>
      <origin xyz="0.4 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.3 2.3 1" />
      </geometry>
      <material name="White">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.4 0 0.5" rpy="0 0 0  "/>
      <geometry>
        <box size="2.3. 2.3 1" />
      </geometry>
    </collision>
  </link>
  
  <xacro:panda_arm arm_id="panda_left_bottom" connected_to="base"  xyz="0 0.4 1.006"  rpy="0 0 ${-pi/5}"
    sd0="0.0" sd1="0.0" sd2="0.0" sd3="0.0" sd4="0.0" sd5="0.0" sd6="0.0" sd7="0.0" sd8="0.0" cable="0.0"
    a1="0.0" d1="0.0" theta1="0.0" alpha1="0.0" 
    a2="0.0" d2="0.0" theta2="0.0" alpha2="0.0" 
    a3="0.0" d3="0.0" theta3="0.0" alpha3="0.0" 
    a4="0.0" d4="0.0" theta4="0.0" alpha4="0.0" 
    a5="0.0" d5="0.0" theta5="0.0" alpha5="0.0" 
    a6="0.0" d6="0.0" theta6="0.0" alpha6="0.0" 
    a7="0.0" d7="0.0" theta7="0.0" alpha7="0.0" />  
  <xacro:dyros_assembly_gripper2 ns="panda_left_bottom" rpy="0 0 ${-pi/4}" connected_to="panda_left_bottom_link8" />  

  <xacro:panda_arm arm_id="panda_right_bottom" connected_to="base"  xyz="0 -0.4 1.006" rpy="0 0 ${pi/5}"
    sd0="0.0" sd1="0.0" sd2="0.0" sd3="0.0" sd4="0.0" sd5="0.0" sd6="0.0" sd7="0.0" sd8="0.0" cable="0.0"
    a1="0.0" d1="0.0" theta1="0.0" alpha1="0.0" 
    a2="0.0" d2="0.0" theta2="0.0" alpha2="0.0" 
    a3="0.0" d3="0.0" theta3="0.0" alpha3="0.0" 
    a4="0.0" d4="0.0" theta4="0.0" alpha4="0.0" 
    a5="0.0" d5="0.0" theta5="0.0" alpha5="0.0" 
    a6="0.0" d6="0.0" theta6="0.0" alpha6="0.0" 
    a7="0.0" d7="0.0" theta7="0.0" alpha7="0.0" />  
  <xacro:dyros_assembly_gripper2 ns="panda_right_bottom" rpy="0 0 ${-pi/4}" connected_to="panda_right_bottom_link8" />

  <xacro:panda_arm arm_id="panda_left_mid" connected_to="base"  xyz="0.9 0.7 1.006"  rpy="0 0 ${-pi/5-pi/2}"
    sd0="0.0" sd1="0.0" sd2="0.0" sd3="0.0" sd4="0.0" sd5="0.0" sd6="0.0" sd7="0.0" sd8="0.0" cable="0.0"
    a1="0.0" d1="0.0" theta1="0.0" alpha1="0.0" 
    a2="0.0" d2="0.0" theta2="0.0" alpha2="0.0" 
    a3="0.0" d3="0.0" theta3="0.0" alpha3="0.0" 
    a4="0.0" d4="0.0" theta4="0.0" alpha4="0.0" 
    a5="0.0" d5="0.0" theta5="0.0" alpha5="0.0" 
    a6="0.0" d6="0.0" theta6="0.0" alpha6="0.0" 
    a7="0.0" d7="0.0" theta7="0.0" alpha7="0.0" />  
  <xacro:dyros_assembly_gripper2 ns="panda_left_mid" rpy="0 0 ${-pi/4}" connected_to="panda_left_mid_link8" />

  <xacro:panda_arm arm_id="panda_right_mid" connected_to="base"  xyz="0.9 -0.7 1.006" rpy="0 0 ${pi/5+pi/2}"
    sd0="0.0" sd1="0.0" sd2="0.0" sd3="0.0" sd4="0.0" sd5="0.0" sd6="0.0" sd7="0.0" sd8="0.0" cable="0.0"
    a1="0.0" d1="0.0" theta1="0.0" alpha1="0.0" 
    a2="0.0" d2="0.0" theta2="0.0" alpha2="0.0" 
    a3="0.0" d3="0.0" theta3="0.0" alpha3="0.0" 
    a4="0.0" d4="0.0" theta4="0.0" alpha4="0.0" 
    a5="0.0" d5="0.0" theta5="0.0" alpha5="0.0" 
    a6="0.0" d6="0.0" theta6="0.0" alpha6="0.0" 
    a7="0.0" d7="0.0" theta7="0.0" alpha7="0.0" />  
  <xacro:dyros_assembly_gripper2 ns="panda_right_mid" rpy="0 0 ${-pi/4}" connected_to="panda_right_mid_link8" />

  <xacro:panda_arm arm_id="panda_top" connected_to="base"  xyz="1.3 0 1.006" rpy="0 0 ${pi}"
    sd0="0.0" sd1="0.0" sd2="0.0" sd3="0.0" sd4="0.0" sd5="0.0" sd6="0.0" sd7="0.0" sd8="0.0" cable="0.0"
    a1="0.0" d1="0.0" theta1="0.0" alpha1="0.0" 
    a2="0.0" d2="0.0" theta2="0.0" alpha2="0.0" 
    a3="0.0" d3="0.0" theta3="0.0" alpha3="0.0" 
    a4="0.0" d4="0.0" theta4="0.0" alpha4="0.0" 
    a5="0.0" d5="0.0" theta5="0.0" alpha5="0.0" 
    a6="0.0" d6="0.0" theta6="0.0" alpha6="0.0" 
    a7="0.0" d7="0.0" theta7="0.0" alpha7="0.0" />  
  <xacro:dyros_assembly_gripper2 ns="panda_top" rpy="0 0 ${-pi/4}" connected_to="panda_top_link8" />

 
</robot>
